<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manufacturer.description %>
</p>

<p>
  <strong>Devices:</strong>
  <%= @manufacturer.devices %>
</p>
